.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width:20em;
  height:30em;
  background-color: white;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
  width:18em;
  height:15em;
}


/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

#breedBtn{
    background-color: #04AA6D;
}

#originBtn{
    background-color: #f44336;;
}

#lifespanBtn{
    background-color: rgb(148, 148, 64);
}

h2{
    font-size: 3em;
}